.movieListing {
	color: white;
	text-decoration: none;
	background: black;
}

.table, table {
	display: table;
	border-collapse: collapse;
}

.tr, tr {
	display: table-row;
}

.th, th {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid grey;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.td, td {
	display: table-cell;
	white-space: nowrap;
	border-left: 1px solid grey;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.td:last-child, td:last-child {
	border-right: 1px solid grey;
}

.tr:last-child .td, .tr:last-child td, tr:last-child .td, tr:last-child td{
	border-bottom: 1px solid grey;
}
