em > a,
li > a {
  color: #242424;
}

em > a:hover,
li > a:hover {
  color: #384242;
}
a{
 color: #13b1cd;
 text-decoration: none;
}

a:focus, a:hover {
 color: #1095ac;
 text-decoration: none;
}

a:focus {
 outline: none;
}

body {
    margin: 0;
}
.movieListing {
	color: white;
	text-decoration: none;
	background: black;
}

.table, table {
	display: table;
	border-collapse: collapse;
}

.tr, tr {
	display: table-row;
}

.th, th {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid grey;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.td, td {
	display: table-cell;
	white-space: nowrap;
	border-left: 1px solid grey;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.td:last-child, td:last-child {
	border-right: 1px solid grey;
}

.tr:last-child .td, .tr:last-child td, tr:last-child .td, tr:last-child td{
	border-bottom: 1px solid grey;
}

.movieThumbnail > img, .movieImage > img {
	width: 5em;
}

.promoMovieThumbnail > img, .movieImage > img {
	width: 10em;
}
.movieInfo {
	background: #eeeeee;
	display: grid;
	grid-gap: 10px;
}

.movieImage {
	grid-column: 1;
	grid-row: 1 / span 2;
}

.movieTitle {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	grid-column: 2;
	grid-row: 1;
}

.promoMovieTitle {
	font-family: Montserrat, sans-serif;
	text-align: left;
	font-weight: bold;
	font-size: 1.5em;
	grid-column: 2;
	grid-row: 1;
}

.movieRating {
	text-align: center;
	grid-column: 4;
	grid-row: 1;
}

.movieDirector {
	grid-column: 1;
	grid-row: 3;
}

.movieMainActors {
	grid-column: 2;
	grid-row: 3;
}

.moviePlot {
	grid-column: 2;
	grid-row: 2;
}

.movieProdComp {
	grid-column: 3;
	grid-row: 2;
}

.movieSupplier {
	grid-column: 3;
	grid-row: 3;
}

.movieGenre {
	grid-column: 4;
	grid-row: 2;
}

.movieDates {
	grid-column: 4;
	grid-row: 3;
}

.s-header-v2__nav-link {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: #3FBFBF;
  line-height: 5.5rem;
  text-transform: uppercase;
  margin: 0 .9rem;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.s-header-v2__nav-item {
  position: relative;
  display: block;
  float: right;
}


.s-header-v2__nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.s-header-v2__navbar {
  position: relative;
  z-index: 1000;
  min-height: 3.125rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


.s-header-v2__navbar-row {
  display: table-row;
  clear: both;
}

/* Columns */
.s-header-v2__navbar-col {
  display: table-cell;
  vertical-align: middle;
}


.s-header-v2__nav_icons{
position:
relative;
padding-left:40rem;
}

.s-promo-v1{
	position:
	relative;
	left:1rem;
	top:0;
}

.complexTable td{
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}

.complexTable th{
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px:
}

.complexTable tr:last-child td{
	border-bottom: 0px;
}